.set__row-title {
  padding: 1rem;
}
.set__row-images {
  padding: 1rem 0;
}

.set__row-asd {
  background-color: $ui-03;
  width: 100%;
}

.set__img-container {
  margin-bottom: 3rem;
}
.set__img {
  max-width: 100%;
}

.set__img-info {
  color: $ui-01;
  background-color: black;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
